div .main footer {
    width: 700px;
    margin: 0 auto;
}

article {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    max-width: 900px;
    margin: 0 auto 20px ;
    word-break: break-all;
    font-weight: 400;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: -.003em;
    font-size: 1.1rem;
    background-color: #fff;
}

aside {
    border-left: 3px solid steelblue;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", monospace;
    font-size: 0.8rem;
}

aside ul {
    list-style-type: none;
    padding: 0;
    margin-left: 8px;
}

aside a {
    color: black;
    text-decoration: none;
}

aside a:hover {
    color: #039be5;
}

@media screen and (min-width: 1201px) {
    .article {
        max-width: 1200px;
        margin: 0 auto;
    }

    aside:not(:empty) {
        display: block;
        position: fixed;
        right: 0;
    }

    article {
        padding: 8%;
    }
}

@media screen and (max-width: 1200px) {
    div .article {
        max-width: 900px;
        margin: 0 auto;
    }

    article {
        padding: 60px;
    }
}

@media screen and (max-width: 700px) {
    article {
        padding: 20px;
    }
}

article #title {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 60px;
}

article .content {
    /* todo 
    split into several pages
    column-count: 2;
    column-width: 300px; */
}

article .content>p {
    text-indent: 2em;
}

article .content a {
    color: steelblue;
    text-decoration: none;
}

article .content a:visited {
    color: steelblue;
}

article .content a:hover {
    text-decoration: underline;
}

article p img {
    display: block;
    width: auto;
    margin: 0 auto;
    min-width: 61.8%;
    max-width: 80%;
}

article blockquote {
    background-color: #f5f5f5f5;
    margin: 0;
    padding: 15px 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", monospace; 
}

article blockquote p {
    font-size: 0.92rem;
    width: fit-content;
    margin: 15px 30px;
}

table img {
    display: inline;
    max-width: 100%;
}

article table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    word-wrap: break-word;
}

article table thead {
    border-bottom: 2px solid black;
}

article table thead tr th {
    text-align: center;
}

article table tbody tr td {
    text-align: center;
}

article code {
    color: darkslategray;
    font-family: 'Source Code Pro', "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", monospace;
}

article pre code {
    color: black;
    font-size: 0.8rem;
}

article a code{
    color: steelblue;
}

