@media (min-width: 600px) {
}

@media (max-width: 600px) {
    .main .sidebar {
        width: 90%;
        margin: 0 auto 0;
    }
}

.main .sidebar {
    font-family: 'Source Code Pro', "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", monospace;
}

/* 列表文章 */
article.index header h2.title {
    margin: 0
}

article.index footer {
    margin-bottom: 20px;
}

article a.title {
    color: dodgerblue;
    text-decoration: none;
    font-weight: 300;
    font-family: 'Source Code Pro', "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", monospace;
    
}

article a.title:visited {
    color: dodgerblue;
}

article a.title:hover {
    text-decoration: underline;
}

