.main {
    max-width: 1200px;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .main {
        display: flex;
        flex-direction: row;
    }
    
    .main .content {
        width: 700px;
        margin: 0 auto;
    }

    .main .nav {
        
    }
}

@media (max-width: 600px) {
    .main {
        display: flex;
        flex-direction: column;
    }
    
    .main .content {
        width: 90%;
        margin: 0 auto 0;
    }
    
    .main .nav {
        width: 90%;
        margin: 0 auto 0;
    }
}

main article {
    font-family: 'Source Code Pro', "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", monospace;
}

/* 列表页介绍 */
main article.list {
    width: 100%;
    margin: 0 auto;
}

main article.list header {
    width: 100%;
}

main article.list header .title {
    text-align: center;
}

/* 列表 */
main.list .content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

main.list .content li {
    font-family: 'Source Code Pro', "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", monospace;
}

/* 分页导航 */
.pagination {
    display: flex;
    justify-content: center;
}

.pagination li {
    list-style-type: none;
    margin: 8px;
}

/* 右边导航栏 */
main .nav {
    font-family: 'Source Code Pro', "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", monospace; 
}

main .nav ul {
    margin-top: 0;
    padding: 0;
}

main .nav ul li {
    list-style: none;
}
